{% extends "oranze.html" %}

{% block content %}

	<section class="pricing" id="pricingdiv">
		<div class="container headings text-centre">
			<h1 class="text-centre font-weight-bold text-white">Our Pricing</h1>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-12">
					<div class="card">
  						<div class="card-header">Basic</div>
  						<div class="card-body">
  							<li> Rs<span class="money">5000</span>/Month</li>
  							<li>Monthly package.</li>
  						</div>
  						<div class="card-footer">
  							<a href="#">Purchase</a>
  						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12 card-second">
					<div class="card">
  						<div class="card-header">Medium</div>
  						<div class="card-body">
  							<li> Rs<span class="money">15000</span>/6 Months</li>
  							<li>Half year package</li>
  						</div>
  						<div class="card-footer">
  							<a href="#">Purchase</a>
  						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12">
					<div class="card">
  						<div class="card-header">Standard</div>
  						<div class="card-body">
  							<li> Rs<span class="money">30000</span>/12 Months</li>
  							<li>Yearly package</li>
  						</div>
  						<div class="card-footer">
  							<a href="#">Purchase</a>
  						</div>
					</div>
				</div>

			</div>
		</div>
	</section>	    



{% endblock content %}